

<section>

    <aside> 

        <div class="cartArea">
            <app-cart></app-cart>

        </div>
        
    </aside>

    <main>
        
      
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" id="allLinks">
                  <img id="searchImg" src="../../../assets/searchIcon.png" height="30" width="30" (click)="searchProduct()">
                  <input id="searchInput" type="text" placeholder="Search.." [(ngModel)]="searchInput">

                <a class="nav-item nav-link" (click)="milkAndEggs()"><b>Milks & eggs</b><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" (click)="vegtabelsAndFruits()"><b>Vegtables & fruits</b></a>
                <img src="../../../assets/the-sale-2085766_1920.png" height="40" width="80" >
                <a class="nav-item nav-link" (click)="meatAndFish()"><b>Meat & fish</b></a>
                <a class="nav-item nav-link" (click)="wineAndDrinks()"><b>Wine & drinks</b></a>
            </div>
          </div>
        </nav> -->

        <div class="productsArea" >
          <app-shopping-by-category></app-shopping-by-category>
        </div>
    </main>
</section>
<!-- <section>

    <aside> 

        <div class="cartArea">
            <app-cart></app-cart>

        </div>
        
    </aside>

    <main>
        
      
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" id="allLinks">
                  <img id="searchImg" src="../../../assets/searchIcon.png" height="30" width="30" (click)="searchProduct()">
                  <input id="searchInput" type="text" placeholder="Search.." [(ngModel)]="searchInput">

                <a class="nav-item nav-link" (click)="milkAndEggs()"><b>Milks & eggs</b><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" (click)="vegtabelsAndFruits()"><b>Vegtables & fruits</b></a>
                <img src="../../../assets/the-sale-2085766_1920.png" height="40" width="80" >
                <a class="nav-item nav-link" (click)="meatAndFish()"><b>Meat & fish</b></a>
                <a class="nav-item nav-link" (click)="wineAndDrinks()"><b>Wine & drinks</b></a>
            </div>
          </div>
        </nav>

        <div class="productsArea" >
          <router-outlet></router-outlet>
        </div>
    </main>
</section> -->


