
<br>
<div class="pic">
    <img src="http://localhost:3000/generalFiles/super.png" height="220" width="320" >
</div>
<h3 class="productsNumber">Available amount of products <br> {{ amountInfo.products }} </h3>


<h3 class="resarvationNumber" >Number of resarvtions on "SupeRoi" <br> {{ amountInfo.purchases }} </h3>

<!-- <div class="newUser" *ngIf="usersService.userFirstTime"> Welcome to your first shopping in our store ! </div>
<div class="newUser" *ngIf="usersService.userHasOpenCart"> you have an open cart ! </div>
<div class="newUser" *ngIf="usersService.userHasOldCart "> your last cart was at </div> -->